<nav id="navBar">
    <span class="burguer">
        <i class="fas fa-bars"></i>
    </span>
    <a href="/discography" class="logo">Jerebu</a>
    <ul class="menu">
        <li>
            <a href="#">Stickers</a>
        </li>
        <li>
            <a href="#">Comics</a>
        </li>
        <li>
            <a href="#">Posters</a>
        </li>
        <li>
            <a href="#">Commissions</a>
        </li>
    </ul>
    <span class="search">
        <i class="fas fa-shopping-cart"></i>
    </span>
</nav>