<section id="cart">
    <h1 class="title">Checkout</h1>
    <p>This are the products you added to the shoping cart</p>
    <h1 class="price"></h1>
    <ul id="items">
    </ul>

    <form action="/checkout">
        <h1 class="title">Fill this data to make your order</h1>
        <label for="email">Email</label>
        <input type="email" name="email" required>

        <label for="name">Full Name</label>
        <input type="text" name="name" required>

        <label for="city">City</label>
        <input type="text" name="city" required>
        
        <button>Order Now</button>
    </form>
</section>


<script src="/js/cart.js"></script>