<section id="cart">
    <h1 class="title">Checkout</h1>
    <p>This are the products you added to the shoping cart</p>
    <ul id="items">
        <li class="item" data-name="nombre">
            <img src="/images/St-seal.jpg" alt="nombre image">
            <div class="info">
                <h2 class="title">Nombre</h2>
                <h3 class="price">$12</h3>
            </div>
            <i class="fas fa-times"></i>
        </li>
        <li class="item" data-name="nombre">
            <img src="/images/St-seal.jpg" alt="nombre image">
            <div class="info">
                <h2 class="title">Nombre</h2>
                <h3 class="price">$12</h3>
            </div>
            <i class="fas fa-times"></i>
        </li>
        <li class="item" data-name="nombre">
            <img src="/images/St-seal.jpg" alt="nombre image">
            <div class="info">
                <h2 class="title">Nombre</h2>
                <h3 class="price">$12</h3>
            </div>
            <i class="fas fa-times"></i>
        </li>
        <li class="item" data-name="nombre">
            <img src="/images/St-seal.jpg" alt="nombre image">
            <div class="info">
                <h2 class="title">Nombre</h2>
                <h3 class="price">$12</h3>
            </div>
            <i class="fas fa-times"></i>
        </li>
        
    </ul>
</section>